.footer {
  background-color: #1b1e2f;
  letter-spacing: 2px;

  .link {
    ul li {
      margin-bottom: 0.75rem;
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .social {
    a {
      margin-right: 0.5rem;
      transition: color 0.35s ease;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
