<section class="header">
  <div class="header-top bg-black">
    <div class="container mx-auto">
      <div class="flex justify-between items-center h-20">
        <h3 class="text-white">Free shipping on orders over $50</h3>
        <div class="flex items-center">
          <a class="text-white mr-3">
            <i class="fas fa-shopping-cart"></i>
            <span class="ml-2">Cart</span>
          </a>
          <form>
            <input
              type="search"
              placeholder="Search..."
              class="focus:outline-none rounded-lg"
            >
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="header-content">
    <div class="container mx-auto">
      <div class="flex justify-between items-center h-32">
        <a [routerLink]="['/']">
          <img src="../../../../../assets/images/logo.png" alt="logo">
        </a>

        <nav class="header-menu">
          <ul class="flex">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a href="">Prints</a></li>
            <li><a href="">Cards</a></li>
            <li><a href="">Notebooks</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
