.header {
  &-menu ul {
    li {
      margin-left: 1.5rem;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        color: #d77e6a;
      }
    }
  }
}
