$font-path: "./../font";

@font-face {
  font-family: 'dancing-script';
  src: url(./../font/DancingScript-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'dancing-script';
  src: url(./../font/DancingScript-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'dancing-script';
  src: url(./../font/DancingScript-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'dancing-script';
  src: url(./../font/DancingScript-Bold.ttf);
  font-weight: 700;
}
